$color-primary: #4338ca;
$color-primary-medium: #a9a4ed;
$color-primary-light: #e6e4ff;
$color-secondary: #64748b;
$color-secondary-medium: #b0bfd4;
$color-secondary-light: #e0edff;
$color-danger: #ba1a1a;
$color-danger-light: #ffc8c8;
$color-success: #16a34a;
$color-success-light: #dcfce7;
$color-black: #191c1e;
$color-white: #ffffff;
$color-gray-dark: #454652;
$color-gray-medium: #8e9193;
$color-gray-medium-light: #eceef0;
$color-gray-light: #f7f9fb;
$border-radius: 12px;
